
@font-face {
	font-family: junction;
	src: url(../fonts/Junction.otf);
}

body {
	background: #0E76FF;
}

.wrapper {
	background-color: white;
	width: 95%;
	height: 83vh;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
	min-width: 500px;
}

#sport_choice_title_bar {
	margin-left: 15px;
	margin-bottom: 20px;
	border-bottom: solid white 3px;
}

h1:first-of-type {
	color: white;
	font-family: junction;
	font-size: 3em;
	margin-bottom: 0;
	border-bottom: solid #0E76FF 2px;
}

#stat_select_title {
	padding-top: 5px;
	font-size: 2em;
}

#stat_select_title h1 {
	color: #0E76FF;
	font-family: junction;
	font-size: 3em;
	margin-bottom: 0;
	text-align: center;
}

.choice_button {
	margin: auto;
	width: 93%;
	height: 90%;
	position: absolute;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: 3.5%;
	margin-right: 3.5%;
	z-index: 4;
}

.choice_button button {
	background: #fff;
	border-radius: 10px;
	font-family: junction;
	color: #0E76FF;
	font-size: 3em;
	border: solid #0E76FF 2px;
	position: relative;
	width: 100%;
	height: 100%;
}

.choice_button button:hover {
	background: #0E76FF;
	color: white;
	border: solid white 2px;
}

.choice_button div {
	height: 47.5%;
	width: 48.5%;
	position: absolute;
}

#football_choice {
	top: 0;;
	left: 0;
}

#baseball_choice {
	top: 0;
	right: 0;
}

#basketball_choice {
	bottom: 0;
	left: 0;
}

#soccer_choice {
	bottom: 0;
	right: 0;
}

#stat_options h3 {
	font-size: 2em;
	font-family: junction;
	color: #0E76FF;
}

#stat_options {
	height: 100%;
	width: 100%;
}

#stat_options div div {
	display: none;
}
#stat_options div:first-of-type {
	display: none;
}

#soccer_stat_options {
	height: 80%;
	margin: 0 auto;
	width: 80%;
	margin-top: 1.5%;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
}

#soccer_stat_options div {
	width: 25%;
	text-align: center;
}

#soccer_stat_options #general {
	width: 70%;
	font-size: 1.5em;
	margin: auto;
}

#soccer_stat_options #goalie {
	width: 60%;
	font-size: 1.5em;
	margin: auto;
	margin-top: 3%;
}

#soccer_stat_options div table tbody tr td:hover {
	color: white;
	background-color: #0E76FF;
}