
@font-face {
	font-family: junction;
	src: url(../fonts/Junction.otf);
}
body {
	background: #0E76FF;
}

.wrapper {
	background-color: white;
	width: 95%;
	height: 83vh;
	margin: auto;
	border-radius: 15px;
}

h1 {
	color: white;
	font-family: junction;
	font-size: 3em;
	margin-bottom: 0;
}

#sport_choice_title_bar {
	margin-left: 15px;
	margin-bottom: 20px;
	border-bottom: solid white 3px;
}

#sport_options {
	margin-top: 10%;
	margin-left: 5%;
	width: 25%;
	position: absolute;
}

#sport_options ul li {
	font-family: junction;
	color: #0E76FF;
	font-size: 2em;
	text-align: center;
	width: 100%;
	height: 100%;
	border-color: #0E76FF;
}

#stat_options ul li {
	font-family: junction;
	color: #0E76FF;
	font-size: 1.3em;
	text-align: center;
}

#stat_options ul li button {
	font-family: junction;
	color: #0E76FF;
	font-size: 1.1em;
	background-color: white;
	border: 0px;
	padding-bottom: 0px;
	width: 100%;
	height: 100%;
}

#stat_options {
	position: absolute;
	margin-top: 5%;
	margin-left: 50%;
}

#sport_options h3, #stat_options h3 {
	color: #0E76FF;
	font-family: junction;
	font-size: 3em;
}

#stat_options ul li:hover {
	background-color: #0E76FF;
	color: white;
	border-color: white;
}

#sport_options ul li:hover {
	background-color: #0E76FF;
	color: white;
	border-color: white;
}