
@font-face {
  font-family: junction;
  src: url(../fonts/Junction.otf);
}


body {
  background-color: #0E76FF;
  font-style: helvetica;
}

.title_bar {
  margin: auto;
  height: 100px;
  margin-top: 50px;

}

h1 {
  text-align: center;
  font-size: 7em;
  font-family: junction;
  color: white;
}

#steps {
  margin: 0 auto;
  background-color: black;
  margin-left: 15%;
}

.step {
  float: left;
  width: 20%;
  background-color: #BABABA;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

.step.step_doing {
  background-color: #000099;
}

h3 {
  text-align: center;
}

.wrapper {
  width: 100%;
  margin: auto;
  background-color: #0E76FF;
}


.step_completed {
  background-color: green;
  color: white;
}

.step_doing {
  background-color: blue;
  color: white;
}

#sports {
  width: 40%;
  float: left;
  border: 3px solid black;
  padding: 30px;
  background-color: #E6E6E6;
  margin: 2.2%;
  height: 140px;
}

#players {
  width: 40%;
  float: left;
  border: 3px solid black;
  padding: 30px;
  background-color: #E6E6E6;
  margin: 2.2%;
  height: 140px;
}

#number_of_players {
  height: 50px;
  width: 30%;
  margin: 10px 35%;
  text-align: center;
  font-size: 15px;
}

.sport-column {
  float: left;
  margin-right: 20%;
}

