@font-face {
  font-family: junction;
  src: url(../fonts/Junction.otf);
}

body.notBoot {
  background-color: #0E76FF;
}

.wrapper {
  background-color: white;
  width: 95%;
  height: 83vh;
  margin: auto;
  border-radius: 15px;
}

body h1 {
  color: white;
  font-family: junction;
  font-size: 3em;
  margin-bottom: 0;
}

#basketball_title_bar {
  margin-left: 15px;
  margin-bottom: 20px;
  border-bottom: solid white 3px;
}

.wrapper {
  margin-left: 15px;
}

.statsheet {
  display: none;
}

.statsheet.open {
  display: block;
}

table {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  margin-top: 5px;
}

.stat {
  margin-top: 3px;
  padding-bottom: 1px;
}

.stat_row {
  border-bottom: 1px;
}

.add_player {
  margin-left: 1%;
  margin-top: 4px;
  background-color: #FAFAFA;
  border: 2px solid #4B4B4B;
  font-size: 16px;
  width: 33px;
  height: 33px;
  text-align: center;
}

.add_player:hover {
  color: white;
  background-color: #333333;
}


#done {
  margin-left: 1%;
  margin-top: 4px;
  background-color: #FAFAFA;
  border: 2px solid #4B4B4B;
  font-size: 16px;
  width: 60px;
  height: 33px;
  text-align: center;
}

#done:hover {
  color: white;
  background-color: #2E2E2E;
}