@font-face {
  font-family: junction;
  src: url(../fonts/Junction.otf);
}

body {
  background: #0E76FF;
}

.wrapper {
  background-color: white;
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  min-width: 500px;
  min-height: 85vh;
  border: solid #3468A5 5px;
}

.title_bar {
  margin-left: 15px;
  margin-bottom: 20px;
  border-bottom: solid white 3px;
}

.title_bar h1 {
  color: white;
  font-family: junction;
  font-size: 3em;
}

#stat_table_title {
  height: 100px;
  margin-bottom: 1%;
  border-bottom: solid #3468A5 2px;
}

#stat_table_title h1{
  color: #3468A5;
  font-family: junction;
  font-size: 4em;
  text-align: center;
  padding-top: 1.25%;
}

td {
  border: solid #3468A5 1px;
}

.input_box {
  padding-bottom: 1px;
  text-align: center;
  width: 100%;
}

.player_button {
  height: 7vh;
  width: 5%;
  margin-top: 2%;
  background-color: #3468A5;
  color: white;
  font-family: junction;
  font-size: 2em;
  border: solid white 2px;
  border-radius: 10px;
}

.generate_button {
  height: 7vh;
  width: 23.5%;
  padding-top: 4px;
  position: static;
  margin-left: 65%;
  background-color: #3468A5;
  color: white;
  font-family: junction;
  font-size: 1.5em;
  border: solid white 2px;
  border-radius: 10px;
}

#MinutesPlayed, #ShotsonGoal {
  min-width: 150px;
}

#Assists {
  min-width: 140px;
}

#Player {
  min-width: 180px;
}

#Fouls {
  min-width: 130px;
}

#PenaltyKickGoals {
  min-width: 160px;
}

#nav_wrapper {
  margin-bottom: 20px;
  margin-left: 2.5%;
}


.general_stat_table table{
  width: 100%;
  border: solid black 1px;
  font-size: 1em;
  color: #3468A5;
  text-align: center;
  table-layout: fixed;
}

.goalie_stat_table table{
  width: 100%;
  border: solid black 1px;
  font-size: 1em;
  color: #3468A5;
  text-align: center;
  table-layout: fixed;
}

.general_stat_table {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: absolute;
  min-height: 20vh;
  display: none;
}

.goalie_stat_table {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: absolute;
  min-height: 20vh;
  display: none;
}

.general_stat_table.open {
  display: block;
}

.goalie_stat_table.open {
display: block;
}