/*Style Sheet for the Home Page*/

@font-face {
	font-family: junction;
	src: url(../fonts/Junction.otf);
}

body {
	background-color: #0E76FF;
}

.wrapper {
	width: 100%;
	margin: auto;
	background-color: #0E76FF;
}

#home_title_bar {
	margin: auto;
	height: 150px;
	margin-top: 80px;
	margin-bottom: 40px;
}

h1 {
	text-align: center;
	font-size: 7em;
	font-family: junction;
	color: white;
	margin-bottom: 0px;
}

h4 {
	text-align: center;
	font-size: 1.7em;
	font-family: junction;
	color: white;
	margin-top: 0px;
	font-style: italic;
}

p {
	position: absolute;
	bottom: 0;
}

.start_button {
	margin: auto;
	width: 60%;
	height: 30vh;
	position: relative;
	margin-bottom: 55px;
	margin-top: 55px;
}

.start_button button {
	background: #fff;
	border-radius: 28px;
	font-family: junction;
	color: #0E76FF;
	font-size: 3em;
	border: solid #0E76FF 2px;
	position: relative;
	width: 100%;
	height: 100%;
}

.start_button button:hover {
	background: #0E76FF;
	color: white;
	border: solid white 2px;
}

/*.start_button button {
	background: #0E76FF;
	border-radius: 28px;
	font-family: junction;
	color: white;
	font-size: 3em;
	padding: 10px 20px 10px 20px;
	border: solid white 2px;
	position: relative;
	width: 100%;
	height: 100%;
}

.start_button button:hover {
	font-size: 3em;
	padding: 10px 20px 10px 20px;
	border: solid #0E76FF 2px;
	background-color: white;
	color: #0E76FF;
}*/